<h1 class="card_title_create">BOOK NOW</h1>
  <%= simple_form_for [@ship, @booking] do |book| %>
    <%= book.input :start_date%>
    <%= book.input :end_date %>
    <div class="d-flex justify-content-center">
      <button type="button" class="btn-create-booking btn-secondary"><%= book.submit %></button>
    </div>
  <% end %>
