<div class="d-flex justify-content-center">
</div>
  <h1 class="h1">Create a booking</h1>
    <%= simple_form_for [@ship, @booking] do |book| %>
      <%= book.input :start_date%>
      <%= book.input :end_date %>
      <%= book.submit %>
    <% end %>
