<h1 class="card_title_create">Create A Booking</h1>
  <%= simple_form_for [@ship, @booking] do |book| %>
    <%= book.input :start_date%>
    <%= book.input :end_date %>
    <div>
      <button type="button" class="btn-create-booking"><%= book.submit %></button>
    </div>
  <% end %>
