<nav class="navbar sticky-top navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand fa-solid fa-rocket " href="/">    Rent-A-Ship</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Home", root_path%>
          </li>
          <li class="nav-item">
            <%= link_to "My Bookings", bookings_path, :style => 'margin-left:10px'%>
          </li>
          <li class="nav-item">
            <%= link_to "Add a ship", new_ship_path, :style => 'margin-left:10px'%>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, :style => 'margin-left:10px' %>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_up">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_in">Log In</a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
