.form_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-style: solid, black, 5px;
  width: 500px;
  height: 300px;
  background: linear-gradient(to bottom left, #335c67 20%, #ccc5b9 100%);
  align-items: center;
  border-radius: 15px;
  box-shadow: 10px 5px 5px lightgrey;
  color: white;
  overflow: hidden;
}

.form_box_new_ship {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-style: solid, black, 5px;
  width: 500px;
  height: 500px;
  background: linear-gradient(to bottom left, #335c67 20%, #ccc5b9 100%);
  align-items: center;
  border-radius: 15px;
  box-shadow: 10px 5px 5px lightgrey;
  color: white;
  overflow: hidden;
}

.image_frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-style: solid, black, 5px;
  width: 500px;
  height: 300px;
  align-items: center;
  border-radius: 15px;
  box-shadow: 10px 5px 5px lightgrey;
  color: white;
  overflow: hidden;
  margin-right: 10px;
  background: linear-gradient(to bottom left, #335c67 20%, #ccc5b9 100%);
}

.bookings{
  width: 600px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 15px;
  box-shadow: 10px 10px 10px 10px lightgrey;
  background: linear-gradient(to bottom left, #335c67 20%, #ccc5b9 100%);
  font-family: 'Space Mono', monospace;
  text-transform: uppercase;
}

.image_frame img {
  object-fit: cover;
}

.container {
  display: flex;
  align-content: center;
  padding: 50px;
}

.text_box {
  color: black;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-inline: 40px;
  margin: 5px;
  border-radius: 25px;
}

.btn_group {
  display: flex;
  margin-top: 30px;
}

.btn_new {
  color: #f0ebd8;
  padding: 0.8px;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100px;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  font-family: 'Space Mono', monospace;
  margin-left: 20px;
  margin-right: 20px;
}

.card {
  text-align: center;
  display: flex;
  box-shadow: 10px 10px 10px 10px lightgrey;
  background-color: #ccc5b9;
  font-family: 'Space Mono', monospace;
  display: flex;
}

.review {
  border-style: solid, black, 5px;
  box-shadow: 5px 5px 5px 5px lightgrey;
  margin-bottom: 10px;
  width: 150px;
  margin: 5px;
  background-color: darkgrey;
}

#circle{
  position:absolute;
  transform:translate(-50%,-50%);
  height:35px;
  width:35px;
  border-radius:50%;
  border:2px solid black;
}
.body{
  margin:0;
  padding:0;
}
