
.navbar {
  padding-left: 100px;
  background-color: #ccc5b9 !important;
  opacity: 0.75;
  transition: 0.5s background-color ease;
  font-family: 'Space Mono', monospace !important;

}

.navbar-show {
  background-color: #ccc5b9;
  opacity: 1;
}

.collapse {
  justify-content: flex-end;
  padding-right: 100px;
}
