.navbar {
  display: none !important;
}

.navbar-on {
  display: block !important;
  padding-left: 100px;
  background-color: #ccc5b9 !important;
  font-family: 'Space Mono', monospace !important;
}

.collapse {
  justify-content: flex-end;
  padding-right: 100px;
}
