card-ship-index
.card-ship-index {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.image-container {
  max-width:500px;
  max-height:500px;
  object-fit: cover;
}

.image-container img {
  max-width:100%;
  max-height:500px;
  object-fit: cover;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  width: 100%;
}

.card-ship-index h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-ship-index p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-ship-index .card-ship-index-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-ship-index-infos .card-ship-index-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
