.h1 {
  font-family: 'Space Mono', monospace;
  color: black;
  padding-top: 50px;
  padding-bottom: 50px;
  text-shadow: 1px 1px 2px darkgray;
}

.header {
  font-family: 'Space Mono', monospace;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px darkgray;
}

.h2 {
  font-family: 'Space Mono', monospace;
  color: black;
  padding-top: 50px;
  padding-bottom: 50px;
  text-shadow: 1px 1px 2px darkgray;
}

.h3 {
  font-family: 'Space Mono', monospace;
  color: black;
  padding-top: 50px;
  padding-bottom: 50px;
  text-shadow: 1px 1px 2px darkgray;
}

.title_icon {
  text-shadow: 1px 1px 2px darkgray;
  padding-top: 50px;
}

.fa-solid {
  text-shadow: 1px 1px 2px darkgray;
}

.btn {
  text-shadow: 1px 1px 2px darkgray;
}

.btn-search {
  color: black;
  background-color: E9ECEF;
  padding: 5px 15px;
  border-style: none;
}
