.h1 {
  font-family: 'Space Mono', monospace;
  color: black;
  padding-top: 50px;
  padding-bottom: 50px;
  text-shadow: 1px 1px 2px darkgray;
}

.header {
  font-family: 'Space Mono', monospace;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px darkgray;
}

.h2 {
  font-family: 'Space Mono', monospace;
  color: black;
  padding-top: 50px;
  padding-bottom: 50px;
  text-shadow: 1px 1px 2px darkgray;
}

.h3 {
  font-family: 'Space Mono', monospace;
  color: black;
  padding-top: 50px;
  padding-bottom: 50px;
  text-shadow: 1px 1px 2px darkgray;
}
